.vs/
[Bb]in/
[Oo]bj/
*.user
*.vspscc

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local

# IDE
.vs/
.vscode/
*.suo
*.user

# OS files
Thumbs.db
.DS_Store

# SQLite databases
*.db
*.db-shm
*.db-wal
*.sqlite
/IronLogic.Scraper/user_data/Default
/.idea
