:host {
  display: block;
  background-color: #ffffff;
}

:host ::ng-deep mark {
  background-color: #e0e7ff;
  color: #4338ca;
  padding: 0 4px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e8f0;
}
