<div class="p-4 h-full flex flex-col">
  <app-grid
    [columns]="userColumns"
    [data]="users()"
    (actionTriggered)="handleUserAction($event)">
  </app-grid>

  <app-confirm-modal
    [isOpen]="isDeleteModalOpen()"
    title="حذف کاربر"
    [message]="deleteMessage()"
    (confirm)="executeDelete()"
    (cancel)="cancelDelete()">
  </app-confirm-modal>

  <app-edit-user-modal
    [isOpen]="isEditModalOpen()"
    [user]="selectedUserForEdit()"
    (save)="executeEdit($event)"
    (cancel)="cancelEdit()">
  </app-edit-user-modal>
</div>
