/* shared/grid/grid.css */
:host {
  display: block;
  width: 100%;
}

.iron-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  background: white;
  overflow: hidden;
  direction: rtl; /* راست‌چین برای ادمین فارسی */
}

/* این بخش باعث می‌شود تگ‌های کامپوننت مزاحم چیدمان نشوند */
app-grid-header, app-grid-body, app-grid-footer {
  display: contents;
}
