/* نمایش آیکون فلش فقط در وضعیت فعال */
.active-link .active-arrow {
  opacity: 1 !important;
}

/* اسکرول‌بار ظریف برای بخش منو */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #f1f5f9;
}

/* کلاس استخراج شده برای کارت سیستم */
.system-card {
  background-color: #161b22;
  transition: transform 0.3s ease;
}

.system-card:hover {
  transform: translateY(-2px);
}
